@{
    ViewBag.Title = "Home";
}

<div class="container text-center mt-5">
    <h2>Home</h2>

    <a href="@Url.Action("Logout","Account")" class="btn btn-outline-danger mt-3">
        Logout
    </a>
</div>